.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 41.33px;
    line-height: 51.25px;
    letter-spacing: 0;
    color: #494444;
    text-transform: capitalize;
}

.list {
    font-family: var(--main-font);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list > li > p {
    font-size: 27.55px;
    font-weight: 400;
    line-height: 34.17px;
    letter-spacing: 0;
    color: #494444;
    text-transform: capitalize;
    padding: 20px 0px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.list > li:not(:last-child) {
    border-bottom: 1px solid #494444;
}

.list > li:hover > p {
    transform: translateX(50px);
}


.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 41px;
    font-family: var(--main-font);
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0;
    text-transform: capitalize;
    border-color: #837453;
    background-color: transparent;
    border: 1px solid #837453;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    max-width: 331px;
    transition: all 0.3s ease;
    color: #837453;
}

.link:hover {
    color: var(--primary);
}

.link:hover {
    background-color: #837453;
    border-color: var(--primary);
    scale: 105%;
}

.link:focus {
    scale: 95%;
}