.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1276px;
    padding: 0px 40px;
}

.branches {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 51.25px;
    letter-spacing: 0;
    color: #494444;
    text-transform: capitalize;
} 

@media (max-width: 11000px) {
    .text  {
        font-size: 1.2rem;
    }
}


.branchesList {
    font-family: var(--main-font);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.branchesList > li > p {
    font-size: 27.55px;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 34.17px;
    letter-spacing: 0;
    color: #494444;
    text-transform: capitalize;
    padding: 20px 0px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.branchesList > li:not(:last-child) {
    border-bottom: 1px solid #494444;
}

.branchesList > li:hover > p {
    transform: translateX(50px);
}

.imageContainer {
    display: grid;
    place-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.imageContainer img {
    position: relative;
    width: 500px;
    height: 500px;
    transition: all 0.5s ease;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .container img {
        width: 370px;
        height: 370px;
    }
}

@media (max-width: 1024px) {
    .container img {
        width: 400px;
        height: 400px;
    }
}


.imageContainer:hover {
    box-shadow: 1rem 1rem 0px 0px #837453;
}

.imageContainer:hover img {
    transform: translateX(-1rem) translateY(-1rem);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 41px;
    font-family: var(--main-font);
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0;
    text-transform: capitalize;
    border-color: #837453;
    background-color: transparent;
    border: 1px solid #837453;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    max-width: 331px;
    transition: all 0.3s ease;
    color: #837453;
}

.link:hover {
    color: var(--primary);
}

.link:hover {
    background-color: #837453;
    border-color: var(--primary);
    scale: 105%;
}

.link:focus {
    scale: 95%;
}