.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #837453;
    padding: 100px 0px;
}

.container > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}