.container {
    display: grid;
    place-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.container img {
    position: relative;
    width: 500px;
    height: 500px;
    transition: all 0.5s ease;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .container img {
        width: 370px;
        height: 370px;
    }
}

@media (max-width: 1024px) {
    .container img {
        width: 400px;
        height: 400px;
    }
}

.container:hover {
    box-shadow: -1rem 1rem 0px 0px #837453;
}

.container:hover img {
    transform: translateX(1rem) translateY(-1rem);
}