.container {
    height: 100lvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    width: 90lvw;
    height: 60lvh;
    display: flex;
}

.feedbackContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

